
<%= form_for(@stock , :url => stocks_path) do |f| %>
  <%= f.text_field :url , :size => 50 %> <%= f.submit :value => 'add' %>
  <%= f.hidden_field :user_id , :value => current_user.id %>
<% end %>


<ul>
<% @stocks.each do |stock| %>
  <li><%= link_to stock.title , stock_path(stock.id) %>
  <%= link_to 'Destroy', stock, :confirm => 'Are you sure?', :method => :delete %>
  </li>
<% end %> 
</ul>


